@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 137px;
}

/* header */

header {
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #372D23;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}

.list_link {
    color: #B89278;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

.active {
    color: #ED6C30;
}

/* section1 */

.hero_section {
    position: relative;
    height: 640px;
}

.hero_section_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_text {
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero_btn {
    padding: 12px 38px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    background-color: transparent;
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    margin-top: 32px;
}

/* section2 */

.cards_section {
    margin-block: 80px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.card {
    width: 400px;
    height: 320px;
    position: relative;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_content {
    background: rgba(55, 45, 35, 0.80);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.card_text {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}